/* This is a placeholder to have some changes to save */
/* This line of text has been added from my MacOS device. Testing the sync via Git between the Windows and MacOS platform. */

* {
  font-family: "Outfit", sans-serif;
  background-color: #d5e1ef;
}

.section-wrapper {
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin: auto;
  height: 40em;
  width: 15em;
}

img {
  border-radius: 10px;
  height: 40%;
  width: 80%;
  margin-top: 1em;
  border: 1px solid black;
}

.sub-header {
  font-weight: 700;
}

.caption {
  font-weight: 400;
}

.qr-code-image {
  border: 1px solid black;
}