/* This is a placeholder to have some changes to save */
/* This line of text has been added from my MacOS device. Testing the sync via Git between the Windows and MacOS platform. */

* {
  font-family: "Outfit", sans-serif;
  background-color: #d5e1ef;
}

.qr-wrapper {
  background-color: white;
  border-radius: 10px;
  margin: auto;
  height: 40em;
  width: 20em;
}

img {
  border-radius: 10px;
  height: 10rem;
  width: 10rem;
}

.sub-header {
  font-weight: 700;
}

.caption {
  font-weight: 400;
}
